<br>
<br>
<br>
<div class="container-fluid">
<!--
  <div class="row">
    <div class="col-sm">
      <br>
      <br>
      <h1 >Welcome to the message board</h1>
    </div>
  </div>
-->

  <div class="animated-title">
    <div class="text-top">
      <div>
        <span>Welcome</span>
        <span>To The</span>
        <div class="underline"></div>
      </div>
    </div>

    <div class="text-bottom">
      <div>Message Board</div>
    </div>
  </div>
<!--  <div class="row">
    <div class="col-sm">
      <button type="button" class="btn btn-secondary">Show Posts</button>
    </div>
    <div class="col-sm">
      <button type="button" class="btn btn-secondary">Placeholder 2</button>
    </div>
  </div>-->
</div>

