<br>
<br>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card bg-dark mb-3" *ngFor="let post of posts">
        <div class="card-body">
          <h5 class="card-title">Title: {{post.title}}</h5>
          <p class="card-text post-content-text-color">{{post.content}}</p>
          <p class="card-text category-text-color">Category: {{post.category}}</p>

          <div class="row">
            <div class="col-sm-4">
              <p class="card-text text-dark"><small class="text">
                Posted on: {{post.creationTime | date: 'medium'}} by {{post.user}}
              </small>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-1">
              <i class="fa fa-eye darker"></i> <span class="ms-1 views"> 3</span>
            </div>
            <div class="col-sm-1">
            <i class="fa fa-thumbs-up darker"></i> <span class="ms-1 likes"> 2</span>
            </div>
          </div>
          <br>
          <a class="btn btn-dark" [routerLink]="['/post-details', post.id]">Open Comment Section</a>
        </div>
      </div>
      <a class="btn btn-dark" *ngIf="isLoggedIn" [routerLink]="['/create-post']">Create New Post</a>
    </div>
  </div>
</div>

<!--hacky breaks to give some room under the post list-->
<br>
<br>
<br>
<br>
<br>
