<!--navbar section-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
      <a class="navbar-brand" href="#">Eindwerk Java Potentials</a>
      <ul class="nav navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/list-posts']" class="nav-link" href="#">Show Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="create-post">Create Post</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <!-- logged out -->
      <div *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a routerLink="/register-form" class="nav-link" data-toggle="modal"><span class="glyphicon glyphicon-user"></span> Register</a>
        </li>
        <li class="nav-item">
          <a routerLink="/login-form" class="nav-link" data-toggle="modal"><span class="glyphicon glyphicon-log-in"></span> Login</a>
        </li>
      </div>

      <!-- logged in -->
      <div *ngIf="isLoggedIn">
        <li class="nav-item">
          <a class="nav-item" data-toggle="modal"><span class="glyphicon glyphicon-user"></span>Welcome {{user?.username}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" (click)="logout()"><span class="glyphicon glyphicon-log-in"></span> Log Out</a>
        </li>
      </div>
    </ul>
</nav>
<!--Hacky spacers to render other components under the navbar-->
<br>
<br>
<br>
<br>
