<br>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div *ngIf="activeUser !== undefined">
        <a class="btn btn-secondary" [routerLink]="['/create-category']">Create New Category Here</a>
      </div>
      <br>
      <div class="card mb-3" *ngFor="let category of categories">
        <div class="card-body shadow">
          <h5 class="card-title">Category Name: {{category.name}}</h5>
          <a class="btn btn-secondary" [routerLink]="['/list-posts', category.name]">Show Posts in this Category</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--hacky breaks to give some room under the post list-->
<br>
<br>
<br>
<br>
<br>
