<br>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Create A New Category</h5>
          <p class="error" *ngIf="isError">You need to log in to create a new category</p>
          <form [formGroup]="createCategoryForm">
            <div class="form-group">
              <div class="form-row">
                <div class="col">
                  <label align="center" >Category Name</label>
                  <input type="text" class="form-control" placeholder="Category Name" [formControlName]="'name'">
                </div>
              </div>
            </div>
          </form>
          <button type="submit" class="btn btn-dark" (click)="createCategory()">Create New Category</button>
        </div>
      </div>
    </div>
  </div>
</div>
