<br>
<br>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Create A New Category</h5>
    <form>
      <div class="form-group">
        <div class="form-row">
          <div class="col">
            <label align="center" >Category Name</label>
            <input type="text" class="form-control" placeholder="Category Name">
          </div>
        </div>
      </div>
    </form>
    <button type="submit" class="btn btn-dark" (click)="createCategory()">Create New Category</button>
  </div>
</div>
