<br>
<br>
<div class="text-center">
  <h3>Reading Post details for {{ post.id }}</h3>
</div>
<br>
<br>
<div class="card text-white bg-dark mb-3">
  <div class="card-body">
    <h5 class="card-title">{{ post.title}}</h5>
    <p class="card-text">{{ post.content}}</p>
    <p class="card-text darker"><small class="text">
      {{post.creationTime | date: 'full'}} By {{post.user?.username}}
    </small></p>
    <div *ngIf="activeUser?.username === post.user?.username">
      <a class="btn btn-dark m-1 p-1" (click)="deletePost()">Delete Post with ID: {{ post.id }} </a>
      <a class="btn btn-dark m-1 p-1 " routerLink="/edit-post">Edit Your Post with ID: {{ post.id }}</a>
    </div>
  </div>
    <div class="card-body comment-section" *ngFor="let comment of comments">
      <p class="card-text">{{comment.content}}</p>
    </div>
    <a class="btn btn-dark" [routerLink]="['/create-comment', post.id]">Create New Comment</a>
</div>
