<br>
<br>
<div class="text-center">
  <h3>Reading Post details for {{ post.title }}</h3>
</div>
<br>
<br>
<div class="card text-white bg-dark mb-3" *ngFor="let post of posts">
  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <p class="card-text">{{post.content}}</p>
    <p class="card-text darker"><small class="text">
      {{post.postCreationDate.toDateString()}} at {{post.postCreationDate.toLocaleTimeString()}} By {{user.username}}
    </small></p>
    <a class="btn btn-dark m-1 p-1" routerLink="/delete-post">Delete Your Post (based on user ID)</a>
    <a class="btn btn-dark m-1 p-1 " routerLink="/edit-post">Edit Your Post (based on user ID)</a>
  </div>
    <div class="card-body comment-section" *ngFor="let comment of comments">
      <p class="card-text">{{comment.content}}</p>
    </div>
    <a class="btn btn-dark" routerLink="/create-comment">Create New Comment</a>

</div>

