.card-body {
  background-color: whitesmoke;
}

.post-content-text-color {
  color: darkslategrey;
}

.category-text-color {
  color: #272727 !important;
}

.darker {
  color: #787878;
  border: 2px black;
}

.comment-section {
  background-color: #e2e2e2;
  border-bottom: 1px solid black;
}

.category-text-color {
  color: #272727 !important;
}

.error {
  color: red;
}

.h5 {
  color: black !important;
}
