<br>
<br>
<div class="text-center">
  <h3>Reading Post details for {{ post.title }}</h3>
</div>
<br>
<br>
<div class="card text-white bg-dark mb-3" *ngFor="let post of posts">
  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <p class="card-text">{{post.content}}</p>
    <p class="card-text darker"><small class="text">
      {{post.postCreationDate?.toDateString()}} at {{post.postCreationDate?.toLocaleTimeString()}} By {{user.username}}
    </small></p>
  </div>

  <div class="card-body comment-section">
    <p class="card-text">{{comment.content}}</p>
  </div>
  <a class="btn btn-dark" routerLink="/create-comment">Create New Comment</a>
</div>
