.card-body {
  background-color: #C0C0C0;
}

.darker {
  color: #787878;
  border: 2px black;
}

.comment-section {
  background-color: grey;
  border-bottom: 1px solid black;
}
.post-content-text-color {
  color: darkslategrey;
}
.category-text-color {
  color: #272727 !important;
}
.error {
  color: red;
}
