<br>
<br>
<br>

<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img class="rounded-circle"
           src="/assets/img/Wouter.JPG"
           alt="Generic placeholder image" width="140" height="140">
      <h2>Wouter</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula
        ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
      <p><a class="btn btn-secondary" href="#" role="button">LinkedIn &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle"
           src="/assets/img/Tibo.JPG"
           alt="Generic placeholder image" width="140" height="140">
      <h2>Tibo</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula
        ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
      <p><a class="btn btn-secondary" href="#" role="button">LinkedIn &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle"
           src="/assets/img/Kevin.JPG"
           alt="Generic placeholder image" width="140" height="140">
      <h2>Kevin</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula
        ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
      <p><a class="btn btn-secondary" href="#" role="button">LinkedIn &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div>

<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Used Technologies</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc.
        Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
      <p>
        <a href="https://spring.io" class="btn btn-dark my-2">Java Spring Boot</a>
        <br>
        <a href="https://angular.io/" class="btn btn-secondary my-2">Angular</a>
      </p>
    </div>
  </div>
</section>

<div class="jumbotron text-center">
  <h1>H1 </h1>
  <p>Bootstrap is the most popular HTML, CSS...</p>


  <br>
  <h2>Code Examples</h2>
  <p>Problems encountered</p>

  <!-- Button to Open the Modal -->
  <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal">
    Open Code Sample
  </button>

  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          Modal body.. add image link here
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>

