<br>
<br>
<br>
<br>
<br>
<br>
<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img class="rounded-circle"
           src="/assets/img/WouterSmall.jpg"
           alt="Generic placeholder image" width="140" height="140">
      <h2>Wouter - Back End</h2>
      <p>This project was a nice learning experience where I focussed on the Back End.
        We used a MySQL Database with Spring Data to load and save data.
        Spring Boot was further used to write unit tests and to send data to the Front End.
        I learned a lot about testing and proper ways to transfer data to/from the rest-controllers.
        I also got to work with JPARepositories and HttpResponses during the project.
      </p>
      <p><a class="btn btn-secondary" href="#" role="button">LinkedIn &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle"
           src="/assets/img/TiboSmall.jpg"
           alt="Generic placeholder image" width="140" height="140">
      <h2>Tibo - Project Lead </h2>
      <p>During this Project I was the Project Lead and in charge of the Service Layer between Front End and Back End.
        I received parts of the program by different developers and had the end decision about what parts would be used in the final product.
        I did so by merging the correct branches in our Github Repository.

      </p>
      <p><a class="btn btn-secondary" href="#" role="button">LinkedIn &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle"
           src="/assets/img/KevinSmall.jpg"
           alt="Generic placeholder image" width="140" height="140">
      <h2>Kevin - Front End</h2>
      <p>During this project I focussed on the Front End part. We used Angular 11 by Google for the user interface.
      Styling was done using Bootstrap, Font Awesome icons and some custom CSS tricks.
        This project allowed me to really dive into the Front End aspect of a project and expanded my knowledge on
        HTML, CSS and TypeScript.
      </p>
      <p><a class="btn btn-secondary" href="#" role="button">LinkedIn &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div>
<br>
<br>
<br>
<hr>
<br>
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Used Technologies</h1>
      <p class="lead text-muted">Java Spring Boot & Hibernate Provide the Back End.
        <br>
        MySql was used as for the Database
        <br>
        Angular and Bootstrap Provide the Front End.
        <br>
        Github was used for Version Control.

      </p>
      <p>
        <a href="https://spring.io/" class="btn btn-secondary my-2">Java Spring Boot</a>
        <br>
        <a href="https://www.mysql.com/" class="btn btn-secondary my-2">MySqL</a>
        <br>
        <a href="https://angular.io/" class="btn btn-secondary my-2">Angular</a>
        <br>
        <a href="https://github.com/" class="btn btn-secondary my-2">GitHub</a>
      </p>
    </div>
  </div>
</section>
<br>
<hr>
<br>
<div class="jumbotron text-center">
  <h1>Cloud Based Message Platform</h1>
  <h2>Features:</h2>
  <p>Register & Login User</p>
  <p>Create New Categories</p>
  <p>Create New Posts</p>
  <p>Create New Comments</p>
  <p>Edit & Delete Post by original User Only</p>
  <p>List Posts Per Category</p>
  <p>Date and Time Stamps on Posts and Comments</p>
  <p>Placeholder View Counter on Posts</p>
  <p>Basic Like System</p>


<!--

  <h2>Code Examples</h2>
  <p>Problems encountered</p>

  &lt;!&ndash; Button to Open the Modal &ndash;&gt;
  <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal">
    Open Code Sample
  </button>
-->

<!--  &lt;!&ndash; The Modal &ndash;&gt;
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        &lt;!&ndash; Modal Header &ndash;&gt;
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        &lt;!&ndash; Modal body &ndash;&gt;
        <div class="modal-body">
          Modal body.. add image link here
        </div>

        &lt;!&ndash; Modal footer &ndash;&gt;
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>-->
</div>

<hr>
<br>
<br>
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Things We All Got Better At</h1>
      <p class="lead text-muted">
        <br>
        ....
        <br>
        Github Version Control - We learned a great deal about proper version control as a team.
        <br>
        ...
        <br>
        Agile Workflow - How to make team decisions based on functions and features versus available time.
        <br>
        We all had to grow into our roles.
        <br>
        ....
        <br>
        Debugging - Solve problems that arise during the development and adjust where needed as a team.
        <br>
        ....
      </p>

    </div>
  </div>
</section>
<hr>
<br>
<h2 class="text-center text-muted py-3">Message Board Development Timeline</h2>

<div class="container py-2 mt-4 mb-4">
  <!-- timeline item 1 -->
  <div class="row no-gutters">
    <div class="col-sm"> <!--spacer--> </div>
    <!-- timeline item 1 center dot -->
    <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
      <div class="row h-50">
        <div class="col">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
      <h5 class="m-2">
        <span class="badge badge-pill bg-light border">&nbsp;</span>
      </h5>
      <div class="row h-50">
        <div class="col border-right">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
    </div>
    <!-- timeline item 1 event content -->
    <div class="col-sm py-2">
      <div class="card shadow">
        <div class="card-body">
          <div class="float-right text-muted small">Jan 25th 2021 9:00 AM</div>
          <h4 class="card-title ">Day 1 - Orientation</h4>
          <p class="card-text">Initial brainstorm about functions and features of the Prototype.
            Development of the Agile Board to lay out all the task for the different functions and features.</p>
        </div>
      </div>
    </div>
  </div>
  <!--/row-->
  <!-- timeline item 2 -->
  <div class="row no-gutters">
    <div class="col-sm py-2">
      <div class="card shadow">
        <div class="card-body">
          <div class="float-right text-muted small">Jan 26th 2021 9:30 AM</div>
          <h4 class="card-title">Day 2 - Initial Prototype Setup</h4>
          <p class="card-text">
          Setup of Github Repository and development environments with a working Spring Boot App.
          Setup of Angular in the Front End and making sure the two where connected to each other.
          </p>
          <p class="card-text">
            From here we all started coding based on the Agile Board with daily stand-up meetings in the morning
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
      <div class="row h-50">
        <div class="col border-right">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
      <h5 class="m-2">
        <span class="badge badge-pill bg-light border">&nbsp;</span>
      </h5>
      <div class="row h-50">
        <div class="col border-right">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
    </div>
    <div class="col-sm"> <!--spacer--> </div>
  </div>
  <!--/row-->
  <!-- timeline item 3 -->
  <div class="row no-gutters">
    <div class="col-sm"> <!--spacer--> </div>
    <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
      <div class="row h-50">
        <div class="col border-right">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
      <h5 class="m-2">
        <span class="badge badge-pill bg-light border">&nbsp;</span>
      </h5>
      <div class="row h-50">
        <div class="col border-right">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
    </div>
    <div class="col-sm py-2">
      <div class="card shadow">
        <div class="card-body">
          <div class="float-right text-muted small">Feb 3rd 2021 09:30 AM</div>
          <h4 class="card-title">Day 9 Prototype Complete</h4>
          <p>At this point in time we had completed our Prototype App with all the basic features and login functions in place.
          </p>
          <p>
            From here we started to look at our Backlog to try and get in a few more features and functions.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--/row-->
  <!-- timeline item 4 -->
  <div class="row no-gutters">
    <div class="col-sm py-2">
      <div class="card shadow">
        <div class="card-body">
          <div class="float-right text-muted small">Feb 4th 2021 10:00 AM</div>
          <h4 class="card-title">Day 10 Last Minute Features & Wrap-up</h4>
          <p>Addition of the Like System.
          Detailing to both the Front and the Back End.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
      <div class="row h-50">
        <div class="col border-right">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
      <h5 class="m-2">
        <span class="badge badge-pill bg-light border">&nbsp;</span>
      </h5>
      <div class="row h-50">
        <div class="col border-right">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
    </div>
    <div class="col-sm"> <!--spacer--> </div>
  </div>
  <!--/row-->

  <!-- timeline item 3 -->
  <div class="row no-gutters">
    <div class="col-sm"> <!--spacer--> </div>
    <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
      <div class="row h-50">
        <div class="col border-right">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
      <h5 class="m-2">
        <span class="badge badge-pill bg-light border">&nbsp;</span>
      </h5>
      <div class="row h-50">
        <div class="col border-right">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
    </div>
    <div class="col-sm py-2">
      <div class="card">
        <div class="card-body">
          <div class="float-right text-muted small">Feb 5th 2021 11:30 AM</div>
          <h4 class="card-title">Day 11 Testing & Presentation</h4>
          <p>Bug Hunting day. </p>
          <p>Testing and various meetings for the presentation of the Application</p>
        </div>
      </div>
    </div>
  </div>
  <!--/row-->
</div>

<hr>
<br>
<br><br>
