
<br>
<br>
<br>
<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img class="rounded-circle"
           src="/assets/img/WouterSmall.jpg"
           alt="Generic placeholder image" width="140" height="140">
      <h2>Wouter - Back End</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula
        ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
      <p><a class="btn btn-secondary" href="#" role="button">LinkedIn &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle"
           src="/assets/img/TiboSmall.jpg"
           alt="Generic placeholder image" width="140" height="140">
      <h2>Tibo - Project Lead</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula
        ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
      <p><a class="btn btn-secondary" href="#" role="button">LinkedIn &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle"
           src="/assets/img/KevinSmall.jpg"
           alt="Generic placeholder image" width="140" height="140">
      <h2>Kevin - Front End</h2>
      <p>"During this project I focussed on the Front End part. We used Angular 11 by Google for the user interface.
      Styling was done using Bootstrap, Font Awesome icons and some custom CSS tricks.
        This project allowed me to really dive into the Front End aspect of a project and expanded my knowledge on
        HTML, CSS and TypeScript."
      </p>
      <p><a class="btn btn-secondary" href="#" role="button">LinkedIn &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div>

<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Used Technologies</h1>
      <p class="lead text-muted">Java Spring Boot & Hibernate Provide the Back End.
        <br>
        MySql was used as for the Database
        <br>
        Angular and Bootstrap Provide the Front End.
        <br>
        Github was used for Version Control.

      </p>
      <p>
        <a href="https://spring.io/" class="btn btn-secondary my-2">Java Spring Boot</a>
        <br>
        <a href="https://www.mysql.com/" class="btn btn-secondary my-2">MySqL</a>
        <br>
        <a href="https://angular.io/" class="btn btn-secondary my-2">Angular</a>
        <br>
        <a href="https://github.com/" class="btn btn-secondary my-2">GitHub</a>
      </p>
    </div>
  </div>
</section>

<div class="jumbotron text-center">
  <h1>Cloud Based Message Platform Prototype</h1>
  <h2>Features:</h2>
  <p>Register & Login User</p>
  <p>Create New Categories</p>
  <p>Create New Posts</p>
  <p>Create New Comments</p>
  <p>Edit & Delete Post by original User Only</p>
  <p>List Posts Per Category</p>
  <p>Date and Time Stamps on Posts and Comments</p>
  <p>View Counter on Posts</p>
  <p>Like System</p>

  <br>
  <h2>Code Examples</h2>
  <p>Problems encountered</p>

  <!-- Button to Open the Modal -->
  <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal">
    Open Code Sample
  </button>

  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          Modal body.. add image link here
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
</div>
<br>


<h2 class="text-center text-muted py-3">Message Board Development Timeline</h2>

<div class="container py-2 mt-4 mb-4">
  <!-- timeline item 1 -->
  <div class="row no-gutters">
    <div class="col-sm"> <!--spacer--> </div>
    <!-- timeline item 1 center dot -->
    <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
      <div class="row h-50">
        <div class="col">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
      <h5 class="m-2">
        <span class="badge badge-pill bg-light border">&nbsp;</span>
      </h5>
      <div class="row h-50">
        <div class="col border-right">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
    </div>
    <!-- timeline item 1 event content -->
    <div class="col-sm py-2">
      <div class="card">
        <div class="card-body">
          <div class="float-right text-muted small">Jan 9th 2019 7:00 AM</div>
          <h4 class="card-title text-muted">Day 1 Orientation</h4>
          <p class="card-text">Welcome to the campus, introduction and get started with the tour.</p>
        </div>
      </div>
    </div>
  </div>
  <!--/row-->
  <!-- timeline item 2 -->
  <div class="row no-gutters">
    <div class="col-sm py-2">
      <div class="card shadow">
        <div class="card-body">
          <div class="float-right small">Jan 10th 2019 8:30 AM</div>
          <h4 class="card-title">Day 2 Sessions</h4>
          <p class="card-text">Sign-up for the lessons and speakers that coincide with your course syllabus. Meet and greet with instructors.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
      <div class="row h-50">
        <div class="col border-right">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
      <h5 class="m-2">
        <span class="badge badge-pill bg-light border">&nbsp;</span>
      </h5>
      <div class="row h-50">
        <div class="col border-right">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
    </div>
    <div class="col-sm"> <!--spacer--> </div>
  </div>
  <!--/row-->
  <!-- timeline item 3 -->
  <div class="row no-gutters">
    <div class="col-sm"> <!--spacer--> </div>
    <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
      <div class="row h-50">
        <div class="col border-right">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
      <h5 class="m-2">
        <span class="badge badge-pill bg-light border">&nbsp;</span>
      </h5>
      <div class="row h-50">
        <div class="col border-right">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
    </div>
    <div class="col-sm py-2">
      <div class="card">
        <div class="card-body">
          <div class="float-right text-muted small">Jan 11th 2019 8:30 AM</div>
          <h4 class="card-title">Day 3 Sessions</h4>
          <p>Shoreditch vegan artisan Helvetica. Tattooed Codeply Echo Park Godard kogi, next level irony ennui twee squid fap selvage. Meggings flannel Brooklyn literally small batch, mumblecore PBR try-hard kale chips. Brooklyn vinyl lumbersexual
            bicycle rights, viral fap cronut leggings squid chillwave pickled gentrify mustache.</p>
        </div>
      </div>
    </div>
  </div>
  <!--/row-->
  <!-- timeline item 4 -->
  <div class="row no-gutters">
    <div class="col-sm py-2">
      <div class="card">
        <div class="card-body">
          <div class="float-right text-muted small">Jan 12th 2019 11:30 AM</div>
          <h4 class="card-title">Day 4 Wrap-up</h4>
          <p>Join us for lunch in Bootsy's cafe across from the Campus Center.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
      <div class="row h-50">
        <div class="col border-right">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
      <h5 class="m-2">
        <span class="badge badge-pill bg-light border">&nbsp;</span>
      </h5>
      <div class="row h-50">
        <div class="col border-right">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
    </div>
    <div class="col-sm"> <!--spacer--> </div>
  </div>
  <!--/row-->

  <!-- timeline item 3 -->
  <div class="row no-gutters">
    <div class="col-sm"> <!--spacer--> </div>
    <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
      <div class="row h-50">
        <div class="col border-right">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
      <h5 class="m-2">
        <span class="badge badge-pill bg-light border">&nbsp;</span>
      </h5>
      <div class="row h-50">
        <div class="col border-right">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
    </div>
    <div class="col-sm py-2">
      <div class="card">
        <div class="card-body">
          <div class="float-right text-muted small">Jan 11th 2019 8:30 AM</div>
          <h4 class="card-title">Day 3 Sessions</h4>
          <p>Shoreditch vegan artisan Helvetica. Tattooed Codeply Echo Park Godard kogi, next level irony ennui twee squid fap selvage. Meggings flannel Brooklyn literally small batch, mumblecore PBR try-hard kale chips. Brooklyn vinyl lumbersexual
            bicycle rights, viral fap cronut leggings squid chillwave pickled gentrify mustache.</p>
        </div>
      </div>
    </div>
  </div>
  <!--/row-->
</div>

<hr>
<br>
<br><br>
