<br>
<br>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Create Post</h5>
    <form>
      <div class="form-group">
        <div class="form-row">
          <div class="col">
            <label align="center" >Title</label>
            <input type="text" class="form-control" placeholder="Title">
            <br>
            <label align="center" >Post Content</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      </div>
      </div>
    </form>

    <p class="card-text">Please enter your forum post here</p>
    <button type="submit" class="btn btn-dark">Create New Post</button>
  </div>
</div>

