<br>
<br>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Edit Your Post</h5>
    <p class="error" align="left" *ngIf="!isError"></p>
    <div *ngIf="isError; else elseBlock">Ah! Ah! Ah! You didn't say the magic word.. Please log in
      <a routerLink="/login-form"><span class="glyphicon glyphicon-log-in"></span> Here</a>

    </div>
    <ng-template #elseBlock>
      <form [formGroup]="editPostForm" >
        <div class="form-group">
          <div class="form-row">
            <div class="col">
              <label align="center" >Title</label>
              <input type="text" class="form-control" placeholder="{{post?.title}}" [formControlName]="'title'">
              <br>
              <label align="center" >Post Content</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="{{post?.content}}" [formControlName]="'content'"></textarea>
              <label align="center" >Category</label>
              <input type="text" class="form-control" placeholder="{{post?.category}}" [formControlName]="'category'">
              <br>
            </div>
          </div>
        </div>
      </form>
<!--      For now a new post will be created every time we do an update because the rest controller does not reflect this option.-->
      <p class="card-text">Please edit your forum post here. </p>
      <button type="submit" class="btn btn-dark" (click)="editPost()">Edit Post</button>
    </ng-template>
  </div>
</div>
